@tailwind base;
@tailwind components;
@tailwind utilities;

.Toggle[data-state="on"] {
  background-color: red;
  color: var(--violet-12);
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
html::-webkit-scrollbar-thumb {
  background: #ff0000;
}
